footer{
    text-align: center;
    padding: 25px 0;
    border-top: 3px solid #cdcdcd;
}

.pagination{
    width: 100%;
    float: left;
}
.container {
    width: 1045px !important;
}

.pagination ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.newPost{
    padding: 0px 10px;
    width: 233px;
    float: left;
}

.newPost .itemsd{
border-bottom: 1px solid #f7f7f7;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.newPost .itemsd img{
    width: 100%;
    float: left;
}

.single-post img{
    margin: 15px 0;
}


.newPost .itemsd .namer{
    float: left;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #484f5e;
    font-family: 'Roboto Condensed', sans-serif;
    width: 150px;
    padding-top: 10px;
}



.relatePost{
    padding: 0px 10px;
    width: 100%;
    float: left;
}

.relatePost .itemrelated{
    border-bottom: 1px solid #f7f7f7;
    width: 33%;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: 200px;
}

.relatePost .itemrelated img{
    width: 100%;
    float: left;
}


.relatePost .itemrelated .namer{
    float: left;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #484f5e;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
}
.relatePost .boxe{
    padding: 10px;
}
.pagination ul li{
    float: left;
    width: 36px;
    height: 36px;
    background: #f5f5f5;
    margin-right: 8px;
    line-height: 36px;
    text-align: center;
}

.pagination ul li a{
    width: 100%;
    height: 100%;
    float: left;
    text-decoration: none;
    color: #187b62;
}

.pagination  .current{
	    background: #68c9b0;
    color: white;
}

.article-preview-image{
	float: left;
	width: 30%;
}
.blog_lists{
	position: relative;
}
.blog_lists header{
    float: right;
    width: 68%;
    padding: 0px 5px;
}

.blog_lists .postmeta{
    float: left;
    width: 68%;
    font-size: 12px;
}
.blog_lists .entry-summary{
    float: right;
    width: 68%;
}

.blog_lists .ReadMore{
position: absolute;
    right: 0px;
    bottom: 0px;
}